<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #b8bbd1">
    <div class="container">
      <h1 class="display-4 text-center py-1" style="margin: 50px 0 15px 0 ">Reja va Maqsadlar</h1>

      <div class="jumbotron p-3 shadow-sm">
        <form action="/create-item" id="create-form" method="POST">
          <div class="d-flex align-items-center">
            <input
              id="create-field"
              name="item"
              autofocus
              autocomplete="off"
              class="form-control mr-3"
              type="text"
              style="flex: 1"
            />
            <button class="btn btn-primary" style="border-radius: 20px">
              Yangi reja qo'shish
            </button>
          </div>
        </form>
      </div>
      <button
        id="clean-all"
        class="btn btn-danger"
        style="border-radius: 20px"
      >Hammasini o'chirish</button>
    </div>
  </body>
</html>
